body {
    font-family: 'Roboto', sans-serif;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.has-background-silver {
    background-color: #DDDDDD;
}

.has-text-navy {
    color: #001f3f;
}

.button.is-primary {
    background-color: #001f3f;
}